@charset "UTF-8";

/* -------------- RESET GERAL --------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* -------------- FIM - RESET GERAL --------------*/


#container {

    background-image: url(../img/mosaico.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    max-width: 950PX;
    width: 90%;
    margin: 20PX auto;
}

#page {

    background-color: #fef6f8;
    width: 97.9167%;
}

main {

    width: 71%;
}



/* ===== CABEÇARIO ===== */
 #cabecario {

    margin-bottom: 30px;
 }
/* ===== FIM-CABEÇARIO ===== */



/* ===== IMPUT FORMULÁRIO =====*/
input[type="text"] {

    width: 150px;
}
/* ===== FIM - IMPUT FORMULÁRIO =====*/




/* ===== SESSÕES 1 2 3 ====== */
.sessao1, .sessao2, .sessao3 {

    margin: 0 .5em 2em 0;

}
/* ===== FIM-SESSÕES 1 2 3 ====== */



/* ===== FOTOS SESSÕES 1 2 3 ===== */
.foto {

    height: 75px;
    width: 100px;
}
/* ===== FIM-FOTOS SESSÕES 1 2 3 ===== */


/* ===== BARRA LATERAL ===== */
aside {

    background-color: #f5f8fa;
    margin-left: 72%;
}

aside h2 {

    font-size: .9375em;
    margin-bottom: 3px;
    text-transform: lowercase;
}
/* ===== FIM - BARRA LATERAL =====*/


/* ===== RODAPÉ =====*/
footer {

    margin-top: 10px;
}